bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/Course_Management_System_Final/FileContentIndex/27482707-c2a7-4a39-88ff-fe9e629bcf48.vsidx
/.vs/Course_Management_System_Final/FileContentIndex
